/* body {
  font-family: Arial, sans-serif;
}

.card {
  width: 260px;
  padding: 15px;
  border: 1px solid #ccc;
}

input {
  width: 100%;
  margin-bottom: 8px;
  padding: 5px;
}

button {
  width: 100%;
  padding: 6px;
} */

/* ------------------------------------ */

body{
  font-family: sans-serif, arial;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card{
  border: 1px solid brown;
  height: 200px;
  width: 300px;
  margin: 25px;
  padding: 20px;
  text-align: center;
}

.card input{
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
}
.profileInfo{
  border: 1px solid brown;
  height: 160px;
  width: 250px;
  margin: 25px;
  padding: 10px;
  text-align: center;
}
