*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: arial,sans-serif;
  padding: 20px;
}

.card, .result{
  border: 1px solid brown;
  width: 500px;
  margin: auto;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 20px;
}

.result h2{
  margin-bottom: 8px;
}
.result p{
  margin-bottom: 8px;
  color: brown;

}


input{
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
}

button{
  width: 100%;
  padding: 6px;
  font-size: 24px;
}

