body {
    font-family: Arial, sans-serif;
}

.card {
    /* width: 250px;
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center; */

    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    text-align: center;
}
